<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Petro Lopatkin">

    <title>Weather App</title>

    {% load static %}

    <link rel="icon" href="{% static 'weather/R.png' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'weather/main.css' %}">
</head>
 <body>
    <header class="header">
        <article id="home">
        <h1 class="header__h1">Weather app</h1>
        <nav class="header__nav">
            <ul class="header__ul">
                <li>
                    <a href="#home">Home</a>
                </li>
                <li>
                    <a href="#saved-cities">Saved Cities</a>
                </li>
            </ul>
        </nav>
        </article>
        </header>
        <main class="main">
            <article class="main__article search">
                <p class="main__p">Find what weather is right now in your city</p>
                <form class="search__form">
                    <input class="search__input" type="text" placeholder="Enter a city:">
                    <button class="search__button" type="submit">Get weather</button>
                </form>
            </article>
        <hr>

            <article id="saved-cities" class="main__article">
                <h2>Saved cities:</h2>
                <ul>
                    {% for city in cities %}
                    <li>{{ city }}</li>
                    {% endfor %}
                </ul>
            </article>
        </main>
 </body>

</html>