body {
    padding: 15%;
    font-size: 1.5rem;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal
}
/* input, button {
    font-size: inherit;
} */
p {
    line-height: 1.5;
    /* letter-spacing: 0.1em;
    word-spacing: 0.25em; */
   /*  font-weight: 700;
    font-style: italic; */
}
/* a {
   color: #000;
}
a:visited {
    color: red;
}
a:hover a:focus {
    color: aquamarine;
}
a:active {
    color: firebrick;
} */

ol {
    list-style-type: upper-latin;
}
ul {
    text-align: center;
    line-height: 1.6;
    list-style:square url('../img/checkmark.png') inside;
}

ul ::marker {
    color: #000;
    font-family: fantasy;
    font-size: 1em;
    content: 'Only 5$>> ';
}