body {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 2rem;
}

.columns {
    /* column-count: 4;
    column-width: 250px; */
    columns: 4 250px;
    column-rule: 3px solid black;
}

.columns p {
    margin-top: 0;
}

.columns h2 {
    margin-top: 0;
    background-color: #333;
    color: whitesmoke;
    padding: 1rem;
    break-inside: avoid;
}

.columns .quote {
    margin-top: 2rem;
    font-size: 2rem;
    text-align: center;
    color: #333;
    column-span: all;
}

.nowraped {
    white-space: nowrap;
}